body{
 background-color: black;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color:#193acc;
}

.stock{
  text-align: center;
  color: red;
}

.justify{
  text-align: justify;
}

.row{
  margin-left: 0;
}

.mailSuccess{
  background-color: green;
  color:black;
  text-align: center;
}

textarea{
  margin-left: 10px;
  width: 95% !important;
}



form{
  background-color: orange;
}

label{
  color: black;
  text-align: justify;
  margin-left: 10px;
}

.email{
  /* text-align: justify; */
  color: red;
}

form button{
  width: 95%;
}

.allign{
  text-align: center;
}

.contact{
  background-color: white;
}

.jumbotron h1{
  color: #41eb0b;
  font-weight: 1000;
  margin-top: 2px;
}

.navbar{
  margin-bottom: 0;
}

.jumbotron h2{
  color: #62ff14;
  font-style: italic;
  font-weight: 1000;
  text-align: center;
  /* margin-top: 0px; */
  font-size: 24px;
}

.jumbotron{
  margin-bottom: 0;
  background-image: url("/images/jumbotron.jpeg");
  /* filter:blur(5px); */
}



img {
  height: 15vw;
   object-fit: cover;
}
