<% include ../partials/header.ejs %>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <!-- This active class will make the home appear highlighted or active -->
    <li ><a href="/">Home</a></li>
    <li class="active"><a href="/about">About Me</a></li>
    <li><a href="/experience">Work Experience</a></li>
    <li><a href="/protfolio">Protfolio</a></li>
    <li><a href="/education">Education</a></li>
    <li><a href="/github">GitHub</a> </li>

  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/resume" target="_blank"><i class="fas fa-file"></i> My Resume </a></li>
    <li><a href="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="container">
  <h1 class="stock">A Brief Intro</h1>
  <div class="contact">
    <h4 class="justify">I am a third year computer engineering student at UBC(University of British Columbia) with minor in commerce.
      I am passionate in web development, app development as well as in machine learning. My unique computer engineering background has enabled me to tackle
      both hardware as well as software related problems. I am also minoring in commerce, which will enable me to tackle business side of a company.
    </h4>

    <h4 class="justify">
      Moreover, I am a self motivated learner, as I regularly take online(mostly Udemy) courses to acquire new skills or sharpen existing skills. I developed
      my entire web dev skills via Udemy.
    </h4>
  </div>

  <h1 class="stock">Programming Skills</h1>
  <div class="contact">
    <h4 class="justify">
      I am proficient in:
      <br>
       <ul class="justify">
         <li> <strong>C, C++, Java</strong> </li>
         <li> <strong>HTML, CSS, JavaScript</strong> </li>
         <li> <strong>Node.js based frameworks such as passport, express and such</strong> </li>
         <li> <strong>Linux administration</strong> </li>
       </ul>
    </h4>
    <h4 class="justify">
      I have intermediate skills in:
      <ul>
        <li> <strong>MongoDB</strong> </li>
        <li> <strong>jQuery</strong> </li>
        <li> <strong>x86 & ARM Assembly Language</strong> </li>
        <li> <strong>Verilog</strong> </li>
        <li> <strong>GitHub/BitBucket</strong> </li>
        <li> <strong>BootStrap</strong> </li>
      </ul>
    </h4>

    <h4 class="justify">
      I have basic skills in:
      <ul>
        <li> <strong>Python</strong> </li>
        <li> <strong>Ruby</strong> </li>
      </ul>
    </h4>
  </div>

    <h1 class="stock">Hobbies</h1>
    <div class="contact">
      <h4 class="justify">
        My hobbies include testing and benchmarking computer hardware, playing video games,keep myself updated with latest technologies (such as Nvidia RTX series gpu),
        participating in online hackathons, as well as taking MOOC (Massive Online Open Courses)
        fromvarious platforms (such as Udemy and Coursera) to learnnew skills as well as to enhance existing skills
      </h4>

    </div>

</div>

<% include ../partials/footer.ejs %>
