<% include ../partials/header.ejs %>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <!-- This active class will make the home appear highlighted or active -->
    <li ><a href="/">Home</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/experience">Work Experience</a></li>
    <li><a href="/protfolio">Protfolio</a></li>
    <li class="active"><a href="/education">Education</a></li>
    <li><a href="/github">GitHub</a> </li>

  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/resume" target="_blank"><i class="fas fa-file"></i> My Resume </a></li>
    <li><a href="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<%# main content %>

<%# UBC Courses %>

<div class="container ">
  <h1 class="stock">Relevant UBC Courses</h1>
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                 <h4 class="panel-title">
                    <a href="#question0" class="ing">
                      <h2><i class="fas fa-plus"></i> CPEN 211: Introduction to Microcomputers</h2>
                    </a>
              </h4>

            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h3><span class="label label-primary">Overview</span></h3>

                    <h4 class="justify">
                      Boolean algebra; combinational and sequential circuits;
                      organization and operation of microcomputers, memory addressing modes, representation of information,
                      instruction sets, machine and assembly language programming,
                      systems programs, I/O structures, I/O interfacing and I/O programming, introduction to digital system design using microcomputers.
                    </h4>
                    <h4 class="justify">
                      I learned how to use verilog and ARM assembly language to make a finite state machine, a working microcomputer, implement caches, performance counters
                      as well as interrupts under tight time constraints.
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                 <h4 class="panel-title">
                    <a href="#question1" class="ing">
                    <h2><i class="fas fa-plus"></i> CPSC 261: Basics of Computer Systems</h2>
                    </a>
              </h4>

            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h3><span class="label label-primary">Overview</span></h3>

                    <h4 class="justify">Software architecture, operating systems, and I/O architectures. Relationships between application software, operating systems, and computing hardware;
                    critical sections, deadlock avoidance, and performance; principles and operation of disks and networks.
                    </h4>
                    <h4 class="justify">
                      I learnt in depth about cache; x86 assembly language; multithreading; different file systems such as FAT 32, Linux file system such as ext2,3,4;
                      pointers; basics of operating sytems such as microkernel as well as virtual memory.
                    </h4>
                </div>
            </div>
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                 <h4 class="panel-title">
                    <a href="#question2" class="ing">
                      <h2><i class="fas fa-plus"></i> CPEN 291: Computer Engineering Design Studio I</h2>
                    </a>
              </h4>

            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h3><span class="label label-primary">Overview</span></h3>

                    <h4 class="justify">
                    Design projects involving hardware (electronic devices and circuits, microcomputers) and software.
                    </h4>

                    <h4 class="justify">
                    I worked alongside a talented team of six students and made an autonomous robot as well as a motion sensor music recording box
                    which would change tone by hand gesture. I programmed the entire website for the music box via which anyone can create an account and upload
                    as well as stream those recorded musics.
                    </h4>
                </div>
            </div>
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                 <h4 class="panel-title">
                    <a href="#question3" class="ing">
                    <h2><i class="fas fa-plus"></i> CPEN 221: Principles of Software Construction</h2>
                    </a>
              </h4>

            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h3><span class="label label-primary">Overview</span></h3>

                    <h4 class="justify">
                    Design, implementation, reasoning about software systems: abstraction and specification of software,
                    testing, verification, abstract data types, object-oriented design, type hierarchies, concurrent software design.
                    </h4>

                    <h4 class="justify">
                      This course taught me basics of software engineering such as software testing; abstaction; object oriented designs such as
                      polymorphism, inheritance, encapsulation; mutable and immutable objects and such.
                    </h4>
                </div>
            </div>
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                 <h4 class="panel-title">
                    <a href="#question4" class="ing">
                      <h2><i class="fas fa-plus"></i> MATH 220: Mathematical Proof</h2>
                    </a>
              </h4>

            </div>
            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h3><span class="label label-primary">Overview</span></h3>

                    <h4 class="justify">
                      Sets and functions; induction; cardinality; properties of the real numbers; sequences, series,
                      and limits. Logic, structure, style, and clarity of proofs emphasized throughout.
                    </h4>

                    <h4 class="justify">
                      This course taught me how to test validity of a statement or algorithm by using various methods such as
                      proof by induction and such.
                    </h4>
                </div>
            </div>
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                 <h4 class="panel-title">
                    <a href="#question5" class="ing">
                      <h2><i class="fas fa-plus"></i> STAT 251: Elementary Statistics</h2>
                    </a>
              </h4>

            </div>
            <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h3><span class="label label-primary">Overview</span></h3>

                    <h4 class="justify">
                      Probability, discrete and continuous random variables, joint probability distributions, estimation, hypothesis testing, regression,
                      analysis of variance, goodness of fit.
                    </h4>
                </div>
            </div>
        </div>

    </div>
    <!--/panel-group-->

    <%# Online courses %>
    <h1 class="stock">Online Courses</h1>
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                 <h4 class="panel-title">
                    <a href="#question6" class="ing">
                      <h2><i class="fas fa-plus"></i> Udemy: The Web Developer Bootcamp By Colt Steele</h2>
                    </a>
              </h4>
            </div>

            <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h3><span class="label label-primary">Overview</span></h3>

                    <h4 class="justify">
                      This course is a 43 hours course that covers both the front end and back end. On Front End part it
                      covers  HTML, CSS, JavaScript as well as various frameworks such as BootStrap, jQuery and such. On
                      backend part it covers Node.js based frameworks such as express, passport and such. It also covers essential
                      topics such as RESTful Routing, CRUD, MongoDB database, cloud 9 etc. Finally, it helps students to create a project
                      named <strong>YelpCamp</strong>.
                    </h4>
                    <h4 class="justify">
                      I highly appreciate the instructor as I acuired all my web development skills from this course.
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                 <h4 class="panel-title">
                    <a href="##question7" class="ing">
                    <h2><i class="fas fa-plus"></i> Udemy: Introduction to Data Structures & Algorithms in Java By Raghavendra Dixit</h2>
                    </a>
              </h4>

            </div>
            <div id="question7" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h3><span class="label label-primary">Overview</span></h3>

                    <h4 class="justify">This is a 5 hours course that covers basics of data structure and algorithm. It taught me time complexity, various
                      sorting and searching algorithms, stacks and queues, performance improvement and such.This course also has assignments to enable
                      us to practice the skills we have learned so far.
                    </h4>

                </div>
            </div>
        </div>

        <%# <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                 <h4 class="panel-title">
                    <a href="#" class="ing">
                      <h2><i class="fas fa-plus"></i> CPEN 291: Computer Engineering Design Studio I</h2>
                    </a>
              </h4>

            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h3><span class="label label-primary">Overview</span></h3>

                    <h4 class="justify">
                    Design projects involving hardware (electronic devices and circuits, microcomputers) and software.
                    </h4>

                    <h4 class="justify">
                    I worked alongside a talented team of six students and made an autonomous robot as well as a motion sensor music recording box
                    which would change tone by hand gesture. I programmed the entire website for the music box via which anyone can create an account and upload
                    as well as stream those recorded musics.
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                 <h4 class="panel-title">
                    <a href="#" class="ing">
                    <h2><i class="fas fa-plus"></i> CPEN 221: Principles of Software Construction</h2>
                    </a>
              </h4>

            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h3><span class="label label-primary">Overview</span></h3>

                    <h4 class="justify">
                    Design, implementation, reasoning about software systems: abstraction and specification of software,
                    testing, verification, abstract data types, object-oriented design, type hierarchies, concurrent software design.
                    </h4>

                    <h4 class="justify">
                      This course taught me basics of software engineering such as software testing; abstaction; object oriented designs such as
                      polymorphism, inheritance, encapsulation; mutable and immutable objects and such.
                    </h4>
                </div>
            </div>
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                 <h4 class="panel-title">
                    <a href="#" class="ing">
                      <h2><i class="fas fa-plus"></i> MATH 220: Mathematical Proof</h2>
                    </a>
              </h4>

            </div>
            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h3><span class="label label-primary">Overview</span></h3>

                    <h4 class="justify">
                      Sets and functions; induction; cardinality; properties of the real numbers; sequences, series,
                      and limits. Logic, structure, style, and clarity of proofs emphasized throughout.
                    </h4>

                    <h4 class="justify">
                      This course taught me how to test validity of a statement or algorithm by using various methods such as
                      proof by induction and such.
                    </h4>
                </div>
            </div>
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                 <h4 class="panel-title">
                    <a href="#" class="ing">
                      <h2><i class="fas fa-plus"></i> STAT 251: Elementary Statistics</h2>
                    </a>
              </h4>

            </div>
            <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h3><span class="label label-primary">Overview</span></h3>

                    <h4 class="justify">
                      Probability, discrete and continuous random variables, joint probability distributions, estimation, hypothesis testing, regression,
                      analysis of variance, goodness of fit.
                    </h4>
                </div>
            </div>
        </div> %>

    </div>
    <!--/panel-group-->

</div>

<% include ../partials/footer.ejs %>
