<% include ../partials/header.ejs %>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <!-- This active class will make the home appear highlighted or active -->
    <li ><a href="/">Home</a></li>
    <li><a href="/about">About Me</a></li>
    <li class="active"><a href="/experience">Work Experience</a></li>
    <li><a href="/protfolio">Protfolio</a></li>
    <li><a href="/education">Education</a></li>
    <li><a href="/github">GitHub</a> </li>

  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/resume" target="_blank"><i class="fas fa-file"></i> My Resume </a></li>
    <li><a href="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="container">
  <h1 class="stock">Full Stack Web Developer</h1>
  <h3 class="stock">Progress Impex Ltd, Dhaka, Bangladesh</h3>
  <h3 class="stock">June 2018-August 2018</h3>
  <div class="contact">
    <ul>
      <h2> <li><h3 class="justify">Created a website for the company's car dealership using Node.js, Express, MongoDB, Bootstrap, jQuery and HTML/CSS/JavaScript</h3></li></h2>
      <h2> <li><h3 class="justify">The website can be accessed at <a href="https://www.progressmotorsltd.com/" target="_blank">this link</a></h3></li></h2>
      <h2><li><h3 class="justify">Deployed the website on a DigitalOcean Droplet and used Cloudflare Content Delivery Network to improve security and speed of the website</h3></li></h2>
      <h2><li><h3 class="justify">Implemented Redis Cache to decrease load time of the website</h3></li></h2>
      <h2><li><h3 class="justify">Used a combination of jQuery, Bootstrap, and CSS to enhance the user experience</h3></li></h2>
      <h2><li><h3 class="justify">Integrated MongoDB database to allow the company staff to add, edit, and delete cars,
        calculate an estimated sales price, as well as generate a quotation form for a car using the tools provided by the admin page</h3></li></h2>
      <h2><li><h3 class="justify">Utilized Passport.js to implement an authentication system for the admin page</h3></li></h2>
      <h2><li><h3 class="justify">Executed tasks under minimal supervision and with little instruction and guidance</h3></li></h2>
      <h2><li><h3 class="justify">Went beyond call of duty to help the company negotiate a contract worth 100,000 USD with a Swiss company </h3></li></h2>

    </ul>
  </div>
</div>

<% include ../partials/footer.ejs %>
