<% include ../partials/header.ejs %>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <!-- This active class will make the home appear highlighted or active -->
    <li ><a href="/">Home</a></li>
    <li><a href="/about">About Me</a></li>
    <li class="active"><a href="/experience">Work Experience</a></li>
    <li><a href="/protfolio">Protfolio</a></li>
    <li><a href="/education">Education</a></li>

  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/resume" target="_blank"><i class="fas fa-file"></i> My Resume </a></li>
    <li><a href="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<h1 class="stock">Coming Soon!!!</h1>

<% include ../partials/footer.ejs %>
