<% include ../partials/header.ejs %>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <!-- This active class will make the home appear highlighted or active -->
    <li ><a href="/">Home</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/experience">Work Experience</a></li>
    <li><a href="/protfolio">Protfolio</a></li>
    <li><a href="/education">Education</a></li>
    <li class="active"><a href="/github">GitHub</a> </li>

  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/resume" target="_blank"><i class="fas fa-file"></i> My Resume </a></li>
    <li><a href="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="container">
  <h1 class="stock">GitHub and LinkedIn links</h1>
  <div class="contact">
    <h3 class="justify">All the source code for my personal projects, including this website, are on my github page</h3>

    <h3> <a href="https://github.com/shafirpl/" target="_blank">My GitHub Page</a> </h3>
    <h3> <a href="https://ca.linkedin.com/in/gazi-md-shafiul-hoque-a7238163" target="_blank">My LinkedIn Page</a> </h3>

  </div>

</div>



<% include ../partials/footer.ejs %>
