<% include ../partials/header.ejs %>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <!-- This active class will make the home appear highlighted or active -->
    <li ><a href="/">Home</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/experience">Work Experience</a></li>
    <li class="active"><a href="/protfolio">Protfolio</a></li>
    <li><a href="/education">Education</a></li>
    <li><a href="/github">GitHub</a> </li>

  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/resume" target="_blank"><i class="fas fa-file"></i> My Resume </a></li>
    <li><a href="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="container">
  <h1 class="stock">WORK PROJECTS</h1>
  <div class="panel-group" id="faqAccordion">
      <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
               <h4 class="panel-title">
                  <a href="#question0" class="ing">
                    <h2><i class="fas fa-plus"></i> Progress Motors Website</h2>
                  </a>
            </h4>

          </div>
          <div id="question0" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                   <h3><span class="label label-primary">Overview</span></h3>
                   <h4 class="justify"> Created the car dealership website while working for Progress Impex Ltd. The website can be
                     accessed at <a href="https://www.progressmotorsltd.com" target="_blank">this link.</a> I used Express, EJS template
                      , Bootstrap, jQuery, CSS and other node modules for this website. For the database I used MongoDB. The website received
                    high satisfiction both from customers and company stuff and greatly improved my overall web development skills.</h4>

              </div>
          </div>
      </div>
      <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
               <h4 class="panel-title">
                  <a href="#question1" class="ing">
                  <h2><i class="fas fa-plus"></i> News Portal</h2>
                  </a>
            </h4>

          </div>
          <div id="question1" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                   <h3><span class="label label-primary">Overview</span></h3>

                    <ul>
                      <h2> <li><h3 class="justify">Created the prototype for a news portal website for the company</h3></li></h2>
                      <h2> <li><h3 class="justify">The website can be accessed at <a href="http://www.shafirplprojects.com/newsportal/" target="_blank">http://www.shafirplprojects.com/newsportal</a></h3></li></h2>
                      <h2><li><h3 class="justify">Integrated MongoDB database to allow the reporters to create, edit and delete news</h3></li></h2>
                      <h2><li><h3 class="justify">Used Bootstrap and custom CSS classes to enhance the user experience of the website which improved my website designing skills</h3></li></h2>
                      <h2><li><h3 class="justify">Unfortunately, the project had to be abandoned due to lack of Node.js developers in Bangladesh</h3></li></h2>
                    </ul>


              </div>
          </div>
      </div>





  </div>
  <!--/panel-group-->


  <h1 class="stock">TECHNICAL PROJECTS</h1>

  <div class="panel-group" id="faqAccordion">
      <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
               <h4 class="panel-title">
                  <a href="#question0" class="ing">
                    <h2><i class="fas fa-plus"></i> YelpCamp (Personal Project)</h2>
                  </a>
            </h4>

          </div>
          <div id="question0" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                   <h3><span class="label label-primary">Overview</span></h3>

                   <ul>
                     <h2> <li><h3 class="justify">Created the YelpCamp website as part of code along project for Udemy Web Developer Bootcamp using Node.js, Express, MongoDB, Bootstrap, and
                        HTML/CSS/JavaScript which greatly enhanced my web development skills</h3></li></h2>
                     <h2> <li><h3 class="justify">The website can be accessed at <a href="http://www.shafirplprojects.com/yelpcamp/" target="_blank">http://www.shafirplprojects.com/yelpcamp</a></h3></li></h2>
                     <h2><li><h3 class="justify">Utilized Passport.js to implement user authentication and authorization which taught me how to integrate authentication into a website</h3></li></h2>
                     <h2><li><h3 class="justify">Integrated MongoDB database to allow the users to create, edit and delete campgrounds and comments which improved my database integration skills</h3></li></h2>
                     <h2><li><h3 class="justify">Used Bootstrap and custom CSS classes to enhance the user experience of the website which improved my website designing skills</h3></li></h2>
                   </ul>

              </div>
          </div>
      </div>


      <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
               <h4 class="panel-title">
                  <a href="#question2" class="ing">
                    <h2><i class="fas fa-plus"></i> Ravebox Website (Coursework)</h2>
                  </a>
            </h4>

          </div>
          <div id="question2" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                   <h3><span class="label label-primary">Overview</span></h3>
                   <ul>
                     <h2> <li><h3 class="justify">Created a professional music streaming website for our engineering design studio project</h3></li></h2>
                     <h2> <li><h3 class="justify">Assisted my team in implementing the project of a portable DJ box which can be used via hand gestures
                       to control the tone and emulate various lightning.
                       It can also be used to record the session and upload them to the website for streaming</a></h3></li></h2>
                     <h2><li><h3 class="justify">Integrated MySQL database to store the music as well as to associate music to specific user account which improved my relational database skills
                     </h3></li></h2>
                     <h2><li><h3 class="justify">Programmed both the front end and backend using Node.js, Express.js, MySQL and Passport.js (for user authentication) which enhanced my web development skills</h3></li></h2>
                     <h2><li><h3 class="justify">Implemented user authorization to provide the users with a unique account page to stream uploaded sessions when the user is logged in which improved my website authorization skills</h3></li></h2>
                   </ul>
              </div>
          </div>
      </div>

      <div class="panel panel-default ">
          <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
               <h4 class="panel-title">
                  <a href="#question3" class="ing">
                  <h2><i class="fas fa-plus"></i> R2D2 Intelligent Moving Robot (coursework)</h2>
                  </a>
            </h4>

          </div>
          <div id="question3" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                   <h3><span class="label label-primary">Overview</span></h3>

                   <ul>
                     <h2> <li><h3 class="justify">Designed, programmed and implemented an intelligent moving robot that would use sonar, optical sensors and intelligent algorithm to decide the moving direction and speed</h3></li></h2>
                     <h2> <li><h3 class="justify">Integrated the LCD module to the robot to display the status and speed of the robot which improved my firmware programming skills</a></h3></li></h2>
                     <h2><li><h3 class="justify">Worked with a team of six on the Arduino platform and assisted the team in identifying and communicating risks early, planning as well as organizing task division to meet a tight deadline, which improved my communication and organization skills</h3></li></h2>
                   </ul>
              </div>
          </div>
      </div>



  </div>
  <!--/panel-group-->


</div>



<% include ../partials/footer.ejs %>
